.all_information{
    display: flex;

    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 2%;
}

.text{
    width: 100%;
    max-width: 1460px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}
.image{
    margin:0 auto;
    max-width: 1000px;
}
.title{
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}
@media (max-width:1919px){

}
@media (min-width:1920px){

}
@media (max-width:440px){
    .all_information{
        max-width: 440px;
    }
    .image{
        max-width: 228px;
        margin-top: 2%;
    }
    .text{
        max-width: 320px;
        font-size: 9px;
        margin-top: 5%;

    }
    .title{
        font-size: 14px;
    }
}