.all_information{
    display: flex;

    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 2%;
}

.text{
    width: 100%;
    max-width: 1460px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
.image{
    margin:0 auto;
    max-width: 1000px;
}
@media (max-width:1872px){

}
@media (max-width:1920px){

}