

@media (max-width:1919px){
    .banner{
        width: 100%;
    }
}
@media (min-width:1920px){
    .banner{
        width: 100%;
    }
}
@media (max-width:1919px){

    .banner{
        width: 100%;
    }

}