{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'shop/css/about_us.css'%}">{% endblock %}
{% block content %}
    <div class="all_information">
        <h2 class="title">О нас</h2>
        <img src="{% static 'shop/img/about_us.webp' %}" alt="" class="image">

        <p class="text">Time To Grow - Профессиональная трихологическая программа, состоящая из линейки средств для домашнего ухода, а также профессиональных средств для решения проблемы с волосами и кожей головы

«Time To Grow» — это более 80 ингредиентов, 35 лучших поставщиков со всего мира, более 20 международных патентов. Основу рецептуры препаратов составляют европейские биоидентичные ингредиенты (100% такие же, как в молодой здоровой коже и волосах), а также растительные ингредиенты, произведенные в Японии, Европе и США.<br><br>

Все компоненты производятся в соответствии с передовыми технологиями производства, что позволяет максимально сохранять и концентрировать природные свойства растений. Кроме того, эффективность использования ингредиентов проверена научными исследованиями.<br><br>

Программа Time To Grow помогает как мужчинам, так и женщинам, с разными формами потери волос, в том числе хронического характера, устойчивого к лечению.<br><br>

Программа может быть использована совместно с миноксидилсодержащими препаратами, для улучшения их эффективности и переносимости.<br><br>

Программа Time To Grow может применяться для лечения выпадения и поредения волос у детей. При соответствующей поправке методик на возраст ребенка процедуры Time To Grow можно проводить и в детском возрасте, ведь и у детей тоже может развиваться воспаление и наущение жизнедеятельности волосяных луковиц. Также процедуры могут быть адаптированы для лиц с возрастным (сенильным) выпадением/поредением волос, т.е. для пожилых людей.<br><br>

            <b style="font-weight: 400">Востребованность в ряду аналогичных предложений.</b><br><br>

Программа Time To Grow является уникальной в своем роде, так как представляет не набор аппаратов и средств, а комплексную систему трихологической диагностики и лечения. Проводится обучение, предоставляются учебные видеоролики, статьи, проводится поддержка врачей, обучившихся и работающих по программе Time To Grow. Программа востребована как в медицинских клиниках, так и в салонах красоты, имеющих медицинскую лицензию, а также у частнопрактикующих врачей. Препараты сертифицированы как изделия медицинского назначения и косметические продукты.<br><br>

            <b style="font-weight: 400">Продукция Time To Grow получила золотой знак качества Ростеста!</b><br><br>

Центр испытаний №300 Федерального бюджетного учреждения “Государственный региональный центр стандартизации, метрологии и испытаний в г.Москве и Московской области” принял наши средства на исследование и провел ряд расширенных химических и биологических испытаний.<br><br>

Все средства линейки Time To Grow успешно прошли испытания на соответствие качеству! Это значит, что вся косметика для волос, которые выпускается под нашей маркой, имеет гарантированное качество и полностью соответствует требованиям нормативных документов РФ.<br><br>

Напомним, что каждое средство имеет декларацию EAC Таможенного союза о соответствии требованиям и безопасности.<br><br>

Time To Grow: проверено Ростестом!<br>

        </p>
    </div>
{% endblock %}