{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'shop/css/contacts.css' %}">{% endblock %}
{% block content %}
    <div class="all_content">
        <div class="left_coloumn">
            <div class="our_contacts">
                <h2 class="contact_title">Контакты</h2>
                <h3 class="contact_content">Всегда будем рады ответить на ваши вопросы!</h3>
            </div>
            <div class="our_adress">
                <h2 class="our_adress_title">Наш адрес</h2>
                <div class="adress_content">
                    <h3 class="one_point_of_adress">195112, г. Санкт-Петербург, Заневский пр., дом 37,  офис 137</h3>
                    <h3 class="one_point_of_adress">м. Новочеркасская</h3>
                    <h3 class="one_point_of_adress">Время работы: пн-пт 10:00 - 18:00</h3>
                </div>
            </div>
            <div class="sales">
                <h2 class="sales_title">Оптовые/Розничные продажи</h2>
                <div class="number_and_email_and_icon">
                    <h3 class="phone_number_email">Телефон: +7 (981) 012-80-69</h3>
                    <img src="{% static 'shop/img/phone_logo.svg' %}" alt="" class="icon">
                </div>
                <div class="number_and_email_and_icon">
                    <h3 class="phone_number_email">WhatsApp: +7 (981) 012-80-69</h3>
                    <img src="{% static 'shop/img/whats_app_logo.svg' %}" alt="" class="icon">
                </div>
                <div class="number_and_email_and_icon">
                    <h3 class="phone_number_email">Почта: ttg.spb@mail.ru</h3>
                    <img src="{% static 'shop/img/email_logo.svg' %}" alt="" class="icon">
                </div>
            </div>
        </div>
        <div class="right_coloumn">
            <div class="requisites">
                <h2 class="requisites_title">Реквизиты</h2>
            </div>
            <div class="requisites_content">
                <h3 class="ip_inn_orgnip">ИП  Соловьев Максим Алексеевич</h3>
                <h3 class="ip_inn_orgnip">ИНН 781700878804</h3>
                <h3 class="ip_inn_orgnip">ОГРНИП 309784720300067</h3>
            </div>
            <div class="map">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A96a987f51881a9aeb0c3d5d88f375973411ce59ac83cbb2fa03c6ea1c18fa0c3&amp;source=constructor" width="750" height="500" frameborder="0" class="map_image"></iframe>
            </div>
        </div>
    </div>
{% endblock %}