{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block css %} <link rel="stylesheet" href="{% static 'shop/css/list_products.css' %}">{% endblock %}
{% block content %}
    <div class="all_products_center">

        <div class="all_products">
            {% for product in object_list %}
                    <div class="one_card">
                        <a href="{% url 'product_detail' product.id%}" class="product_link">
                            <img src="{{ product.image.url }}" alt="" class="product_image" align="center">
                            <h1 class="text_name">{{ product.name }}</h1>
                        </a>
                        <h2 class="text_price">{{ product.price }} &#8381;</h2>
                        <div class="add_to_cart">
                            <form action="{% url 'cart:cart_add' product_id=product.id %}" method="post" class="form">

                                {% csrf_token %}
                                <div class="item_count_wrapper">
                                    <button class="items__control_minus" type="button" data-action="minus">-</button>
                                    {{ form }}
                                    <button class="items__control_plus" type="button" data-action="plus">+</button>
                        </div>

                        <div class="button_div"><button type="submit" class="button"><h2 class="button_text">В корзину</h2></button></div>
                    </form>
                        </div>
                    </div>

            {% endfor %}
        </div>
        <div class="paginator">
            {% for p in page_obj.paginator.page_range  %}
                <li class="pags_border">
                    <a href="?{{ q }}page={{ p }}" class="pags">{{ p }}</a>
                </li>
            {% endfor %}
        </div>
    </div>


    <script src="{% static "shop/js/products_list.js" %}"></script>
{% endblock %}