{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock %}

{% block css %} <link rel="stylesheet" href="{% static 'shop/css/method_of_payment.css' %}">{% endblock %}
{% block content %}
    <div class="content_payment">
       	<h2 class="title">Оплата</h2>
        <div class="method_of_payment">
            <h3 class="method_of_payment_title">Способы оплаты:</h3>
            <li class="one_point">Онлайн, на сайте или по ссылке на страницу оплаты, предоставляемой менеджером</li>
            <li class="one_point">Курьеру при доставке, наличными</li>
          	<li class="one_point">При получении заказа в точке самовывоза, наличными или банковской картой</li>
          	<li class="one_point">При доставке транспортными компаниями требуется 100% предоплата заказа онлайн.	</li>
          	<p class="one_point">После оформления заказа с вами свяжется менеджер для подтверждения заказа и способа доставки.<br><br>
Обработка всех заказов выполняется: ПН.-Пт. 10:00 - 18:00. Заказы, поступившие до 18:00, обрабатываются в тот же день. Заказы, поступившие после 18:00, или в выходной (праздничный) день, обрабатываются в следующий рабочий день.
		  	</p>
        </div>
        <h2 class="title" id="delivery">Доставка</h2>
        <div class="shipping_methods">
            <h3 class="method_of_payment_title">Способы доставки:</h3>
            <li class="one_point">Курьерская доставка по г. Санкт-Петербург:</li>
          	<p class="one_point"><strong>Доставка по Санкт-Петербургу в пределах КАД бесплатная при сумме заказа от 5000 руб.</strong><br><br>За пределы КАД – сумма доставки оговаривается индивидуально.
Доставка заказов курьерами осуществляется на следующий день после подтверждения заказа, с понедельника по пятницу с 10:00 - 20:00. Заказы, оформленные в Субботу и Воскресенье, а также в праздничные дни, могут быть доставлены курьером в первый рабочий день после выходных (праздников), при подтверждении заказа до 12:00 этого дня.
			</p>
            <li class="one_point">Доставка по РФ транспортной компанией СДЭК</li>
          	<p class="one_point">Доставка транспортной компанией СДЕК по всей территории РФ. Стоимость доставки рассчитывается при оформлении заказа. Доставка заказа курьером СДЭК “до двери” всегда оплачивается покупателем.
            </p>
          <li class="one_point">Самовывоз - по адресу г. Санкт-Петербург, Заневский пр. дом 37, офис 137 </li>
        </div>
    </div>
{% endblock %}